<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span (click) = "closeModal()" class="close">&times;</span>
      <p class ="modalText">Title</p>
      <textarea ngModel="newPost.title" rows ="4" cols="70"></textarea>
      <p class = "modalText">Thought</p>
      <textarea ngModel="newPost.thought" rows ="4" cols="70"></textarea>
      <button class = "submit" (click) = "submitPost(newPost)">Submit Post</button>
      <!-- <input [(ngModel)]="NewPost"> -->
    </div>
    
  
</div>



